
* , *::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    scroll-behavior: smooth;
}

body{
    padding: 0.1px;
}

.nav{
    width: 100%;
    height: 90px;
    padding: 0px 20px;
    background-color: rgb(20, 20, 20);  /*Cambiar*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    z-index: 999999;
}

.nav__contenedor1{
    min-width: 90px;
    min-height: 90px;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__imagen{
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-color: rgb(20, 20, 20);
    clip-path: circle(50%);
}

.nav__contenedor2{
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav__lista{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav__links{
    display: inline;
}
.nav__title{
    font-size: 4rem;
    color: white;
    letter-spacing: -4px;
    text-shadow: 0px 0px 5px white;
    font-family: 'DM Sans', sans-serif;
    position: relative;
    transition: all 1s;
    animation: show 1s forwards , show2 2s forwards ;
}

@keyframes show {
    from{
        transform: translateY(-120%) scale(0.8);
    }
    to{
        transform: unset;
    }
}
@keyframes show2{
    from{
        text-shadow: 0px 0px 190px gold;
    }
    to{
        text-shadow: 0px 0px 3px white;
    }
}


.nav__a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
    outline: none;
}

.nav__a:hover{
    transition: 0.4s all;
    text-shadow: 0px 0px 10px gold;
    color: gold;
}

.main{
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    background: url(https://res.cloudinary.com/dliqx1jby/image/upload/v1664375827/Area%204:20%20Proyecto/bgmain_hf2qng.webp);
    background-attachment:fixed;
    background-position:center;
    background-repeat: repeat;
    background-size: contain;
    background-color: rgb(0, 0, 0);

}

.inicio{
    width: 100%;
    display: flex;
    padding-top: 11vh;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(https://res.cloudinary.com/dliqx1jby/image/upload/v1664375828/Area%204:20%20Proyecto/background_nm0fhu.webp);
    background-size: cover;
    background-position: center;
    background-attachment:local;
    background-repeat: no-repeat;
    border-radius: 10px;
    outline:solid 1px rgb(20, 20, 20);
}



.inicio__texto{
    width: 40%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    transition: 2s transform;
    animation: texto 2s  forwards;
    background-color: rgba(0, 0, 0, 0.445);
    padding-top: 40px;
    border-radius: 16px;
    outline: solid 3px rgb(0, 0, 0);
}

@keyframes texto {
    from{
        transform: translateX(120%);
    }
    to{
        transform: translateX(0%);
    }
}


.inicio__titulo{
    font-size: 3.2rem;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}
.inicio__descripcion{
    display: block;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
    margin: 20px 10px 10px;
    color: rgb(255, 255, 255);
    height: auto;
    text-align: center;
    
}

.inicio__peligro{
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: gold;
    -webkit-text-stroke: 1px black;
}

.inicio__img{
    max-width: 650px;
    max-height: 550px;
    margin: 0px 10px;
    transition: transform 1.2s;
    animation: aparecer 2s forwards;
}

@keyframes aparecer {
    from{
        transform: translateX(-130%);
    }
    to{
        transform: unset;
    }
}

.inicio__imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    box-shadow: 0px 0px 10px rgb(20, 20, 20,20);
}

.inicio__boton{
    display: block;
    height: auto;
    font-size: 1.7rem;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    margin: 30px auto;
    cursor: pointer;
    transition: all 1s;
    text-decoration: none;
    text-align: center;
    padding: 10px 5px;
    overflow: hidden;
    min-width: 90px;
}

.inicio__boton:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.5);
}

@media screen and (max-width:1115px) {
    .inicio{
        display: flex;
        flex-wrap: wrap-reverse;
        height: 100%;
        gap: 20px;
    }
    .inicio__img{
        height: 100%;
        margin-bottom: 15px;
    }
    .inicio__texto{
        height: auto;
        max-width: 500px;
        min-width: 280px;
        margin: 25px 15px;
        background-color: rgba(0, 0, 0, 0.671);
    }
    .inicio__peligro{
        margin: 5px 0px;
    }
    .inicio__descripcion{
        height: auto;
        margin: 5px;
    }
    .inicio__boton{
        margin-top:10px ;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:965px) {

    .nav{
        justify-content: center;
        height: auto;
    }

    .nav__contenedor2{
        width: 100%;
        
    }
    .nav__lista{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .main{
        margin-top: auto;
    }
    .inicio{
        padding-top: 160px;
    }
    .espacio{
        background-color: none;
        width: 100%;
        height: 40px;
    }
}

@media screen and (max-width:780px){
    .nav{
        gap: 10px;
    }
    .nav__title{
        font-size: 3rem;
    }
    .nav__a{
        font-size: 1.7rem;
    }
    .inicio__boton{
        width: 200px;
    }
    .nav__title{
        animation: none;
    }
    .inicio__img{
        animation: none;
    }
    .inicio__texto{
        animation: none;
    }
}

@media screen and (max-width:565px){
    .nav__lista{
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }
    .nav{
        gap: 0px;
        align-items: center;
        padding: 0px 5px;
        top: 0;
        left: 0;
        
    }
    .inicio{
        padding-top: 250px;
    }
    .nav__title{
        font-size: 3rem;
    }
    .nav__a{
        font-size: 1.5rem;
    }
    .espacio{
        height: 85px;
    }
}    

@media screen and (max-width:372px){
    .inicio{
        padding-top: 200px;
    }
    .nav__title{
        font-size: 3rem;
    }
    .nav__a{
        font-size: 1.3rem;
    }
}


@media screen and (min-width:1900px){
    .inicio__imagen{
        width: 110%;
        height: 100%;
    }
    .inicio__descripcion{
        font-size: 2.2rem;
    }
    .inicio__titulo{
        font-size: 4rem;
    }
    .inicio__peligro{
        font-size: 2.3rem;
    }
    .inicio__boton{
        font-size: 2.2rem;
    }
    .nav__a{
        font-size: 2.8rem;
    }
    .nav__title{
        font-size: 4.6rem;
    }
    .nav__imagen{
        height: 110px;
        width: 110px;
    }
    .nav{
        height: 110px;
    }
}


/* Seccion Productos*/


.productos{
    width: 100%;
    padding: 75px 0px 0px;
    height: auto;
    background-color: none;
}

.productos__textos--link{
    text-decoration: none;
    color: rgb(138, 58, 185);
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    outline: none;
}
.productos__textos--link:hover{
    color:rgb(188, 42, 141) ;
}


.productos__texto{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    z-index: 999;
    border-radius: 5px 5px 0px 00px;
}
.productos__titulo{
    padding-top:8px;
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 15px auto 30px;
}
.productos__titulo::before{
    position: absolute;
    background-color: gold;
    width: 2.9em;
    height: 4px;
    content: "";
    bottom: 1px;
    left: 0;
    opacity: 90%;
    border-radius: 50px;
}
.productos__texto{
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 60px;
}
.productos__contenedor{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
}
.productos__p1{
    width: 20%;
    height: 40%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.productos__p2{
    width: 20%;
    height: 40%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.productos__p3{
    width: 20%;
    height: 40%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}   
.productos__p4{
    width: 20%;
    height: 40%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.productos__p5{
    width: 20%;
    height: 40%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.productos__p6{
    width: 20%;
    height: 40%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.productos__p7{
    width: 20%;
    height: 40%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.productos__p8{
    width: 20%;
    height: 40%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.productos__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    cursor: pointer;
    transition: transform 1s;
}
.productos__img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: transform 1s;
}
.productos__img3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: transform 1s;
}
.productos__img4{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: transform 1s;
}
.productos__img5{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: transform 1s;
}
.productos__img6{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: transform 1s;
}
.productos__img7{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: transform 1s;
}
.productos__img8{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: transform 1s;
}

/*Seccion aparicion de detalles*/
.productos__p1:hover .productos__detalles1{
    clip-path: circle(100% at center);
}
.productos__p2:hover .productos__detalles2{
    clip-path: circle(100% at center);
}
.productos__p3:hover .productos__detalles3{
    clip-path: circle(100% at center);
}
.productos__p4:hover .productos__detalles4{
    clip-path: circle(100% at center);
}
.productos__p5:hover .productos__detalles5{
    clip-path: circle(100% at center);
}
.productos__p6:hover .productos__detalles6{
    clip-path: circle(100% at center);
}
.productos__p7:hover .productos__detalles7{
    clip-path: circle(100% at center);
}
.productos__p8:hover .productos__detalles8{
    clip-path: circle(100% at center);
}

/*Seccion aumento de img*/

.productos__p1:hover .productos__img{
    transform: scale(1.1);
}
.productos__p2:hover .productos__img2{
    transform: scale(1.1);
}
.productos__p3:hover .productos__img3{
    transform: scale(1.1);
}
.productos__p4:hover .productos__img4{
    transform: scale(1.1);
}
.productos__p5:hover .productos__img5{
    transform: scale(1.1);
}
.productos__p6:hover .productos__img6{
    transform: scale(1.1);
}
.productos__p7:hover .productos__img7{
    transform: scale(1.1);
}
.productos__p8:hover .productos__img8{
    transform: scale(1.1);
}


.productos__detalles1{
    font-size: 1.3rem;
    font-family: 'Comfortaa';
    padding: 0px 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.507);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    clip-path: circle(0% at center);
    transition: 1s clip-path;
    text-align: center;
    display: flex;
    align-items: center;
}
.productos__detalles2{
    font-size: 1.3rem;
    font-family: 'Comfortaa';
    padding: 0px 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.507);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    clip-path: circle(0% at center);
    transition: 1s clip-path;
    text-align: center;
    display: flex;
    align-items: center;
}

.productos__detalles3{
    font-size: 1.3rem;
    font-family: 'Comfortaa';
    padding: 0px 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.507);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    clip-path: circle(0% at center);
    transition: 1s clip-path;
    text-align: center;
    display: flex;
    align-items: center;
}



.productos__detalles4{
    font-size: 1.3rem;
    font-family: 'Comfortaa';
    padding: 0px 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.507);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    clip-path: circle(0% at center);
    transition: 1s clip-path;
    text-align: center;
    display: flex;
    align-items: center;
}


.productos__detalles5{
    font-size: 1.3rem;
    font-family: 'Comfortaa';
    padding: 0px 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.507);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    clip-path: circle(0% at center);
    transition: 1s clip-path;
    text-align: center;
    display: flex;
    align-items: center;
}
.productos__detalles6{
    font-size: 1.3rem;
    font-family: 'Comfortaa';
    padding: 0px 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.507);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    clip-path: circle(0% at center);
    transition: 1s clip-path;
    text-align: center;
    display: flex;
    align-items: center;
}
.productos__detalles7{
    font-size: 1.3rem;
    font-family: 'Comfortaa';
    padding: 0px 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.507);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    clip-path: circle(0% at center);
    transition: 1s clip-path;
    text-align: center;
    display: flex;
    align-items: center;
}
.productos__detalles8{
    font-size: 1.3rem;
    font-family: 'Comfortaa';
    padding: 0px 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.507);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    clip-path: circle(0% at center);
    transition: 1s clip-path;
    text-align: center;
    display: flex;
    align-items: center;
}

.productos__pt{
    min-width:250px;
    min-height: 300px;
}

@media screen and (max-width:1051px) {
    .productos__contenedor{
        width: 100%;
        height: auto;
        overflow: visible;
    }
}

@media screen and (min-width:1585px) {
    .productos__titulo{
        font-size: 5rem;
    }
    .productos__textos{
        font-size: 2.2rem;
    }
    .productos__textos--link{
        font-size: 2.4rem;
    }
    .productos__contenedor p{
        font-size: 1.8rem;
    }
}


/*Efectos de titulo al undir Inicio-Productos-Contactanos*/


/*Fin efecto*/


/*Contactanos*/

.contacto{
    width: 100%;
    padding: 75px 0px 0px;
    height: auto;  /*Auto*/
    background-color: none; 
}
.contacto__textos{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    border-radius: 5px 5px 0px 00px;
}
.contacto__title{
    padding: 30px 0px 0px;
    font-size: 3rem;
    width: fit-content;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: relative;
}
.contacto__title::before{
    position: absolute;
    background-color: rgb(255, 13, 13);
    width: 2.9em;
    height: 4px;
    content: "";
    bottom: 0;
    left: 0;
    opacity: 90%;
    border-radius: 50px;
}
.contacto__texto{
    font-size: 1.3rem;
    font-family:'Josefin Sans', sans-serif ;
    padding: 25px 60px 0px;
}
.contacto__plataformas{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.contacto__plataformas--lista{
    width: 40%;
    height: fit-content;
    padding: 10px;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.asider1__img{
    width: 40px;
    height: 40px;
}

.contacto__plataformas--mapa{
    width: 60%;
    height: 60%;
    padding: 10px;
}
.contacto__plataformas--asider1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    gap: 20px;
    background-color: none;
}

.asider1__texto{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
}
.contacto__mapa--title{
    text-align: center;
    font-size: 2rem;
    font-family:'Josefin Sans', sans-serif ;
    border-radius: 20px;
    border-bottom: 5px solid red;
}
.iframe__mapa{
    width: 100%;
    height: 400px;
    min-width: 200px;
    margin-top: 20px;
    outline: solid 2px black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    transition: 0.5s box-shadow;
}

.footer{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}
.footer__texto{
    font-size: 1.2rem;
    font-family:'Josefin Sans', sans-serif ;
    text-align: center;
    font-weight: 300;
    padding: 5px 0px;
    
}

#Mapa:target .iframe__mapa{
    animation: parpadeo 2s .1s forwards;
    transition: 0.5s box-shadow;
}
@keyframes parpadeo {
    0%{
        box-shadow: 0px 0px 15px black;
    }
    50%{
        box-shadow: 0px 0px 50px red;
        outline: solid 5px red;
    }
    100%{
        box-shadow: 0px 0px 20px black;
    }
}

.autor{
    text-decoration:line-through 2px;
    color: crimson;
    text-shadow: 0px 0px 5px black;
}

@media screen and (max-width:768px){
    .contacto__plataformas--lista{
        flex-direction: row;
        width: 95%;
        flex-wrap: wrap;
        padding-top:10px ;
        margin-top: 10px;
    }
    .contacto__plataformas--mapa{
        padding: 0px;
        width: 95%;
    }
    .contacto__texto{
        padding: 25px 15px 5px;
        text-align: justify;
    }
    .iframe__mapa{
        margin: 20px auto 0px;
        display: block;
    }
    .contacto__plataformas{
        flex-direction: column;
        padding-top:0px ;
    }
    .contacto__plataformas--asider1{
        flex-direction: row;
    }
    .asider1__texto{
        font-size: 1rem;
    }
    .productos__texto{
        padding: 10px ;
    }
}